---
const {data} = Astro.props;
console.log(data);
---
<!-- artists/acid-pauli -->
<!-- husk /foran artists da det skal komme fra artists(root) map ellers siger den bare lineup/kunstner -->
<!-- <a href={`/artists/${data.slug}`}>
<article class="container">
<div class="card">
    <div class="card_content">
        <h2>{data.artistname}</h2>
        <p class="dato">{data.dato}</p>
        <p class="lokation">{data.lokation}</p>
    </div>
    <img src={data.img} alt="Billede af kunstnere" loading="lazy">
</div>
</article>
</a> -->

<article class=time>
    <h2>{data.product_name}</h2>
	<p>{data.beskrivelse}</p>
</article> -->

<!-- <style>
    img {
        width: 100%;
        height: auto;
    }

    .card {
        display: none;
    }

    .card.active {
  display: block; 

.button.active {
  font-weight: bold; 
}
</style> -->


