---
import Tiden from "../../components/products/Tiden.astro"
// const { data } = Astro.props;
// console.log(data);
---

<!-- artists/acid-pauli -->
<!-- husk /foran artists da det skal komme fra artists(root) map ellers siger den bare lineup/kunstner -->
<!-- <a href={`/artists/${data.slug}`}>
<article class="container">
<div class="card">
    <div class="card_content">
        <h2>{data.artistname}</h2>
        <p class="dato">{data.dato}</p>
        <p class="lokation">{data.lokation}</p>
    </div>
    <img src={data.img} alt="Billede af kunstnere" loading="lazy">
</div>
</article>
</a> -->

<article class="container">
    <div class="time_container">
<Tiden
h2="The past"
p="How did it start?..."
billede="/img/products/past.webp" alt="Billede af diverse kombucha smag."
/>
<Tiden
h2="The present"
p="What's in the moment?"
billede="/img/products/present.webp" alt="Billede af diverse kombucha smag."
/>
<Tiden
h2="The future"
p="What comes next?"
billede="/img/products/future.webp" alt="Billede af diverse kombucha smag."
/>   
    </div>
</article>


<style>
    
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 0.5rem;
    }
</style>