---
import MainLayout from "../layouts/MainLayout.astro";
import Tiden from "../components/products/Tiden.astro";
const data = await fetch("https://jzfjblexhwoijgbgmixy.supabase.co/rest/v1/dferments",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6ZmpibGV4aHdvaWpnYmdtaXh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNDIxMTQsImV4cCI6MjAyNTkxODExNH0.O7nP4UolRZVDGhGQ3-0RoYhP0SEzLOyHHhp125SwNvw"
    },
}
).then((res) => res.json());
// console.log(data);
---

<MainLayout title="DRINK ME">
    <h1>Products</h1>
    <!-- <article class="container">
     
    </article> -->

      <div class="products_container">
      <section class="products past_products">
        <div>
          <Tiden
          h2="The past"
          p="How did it start?"
          billede="/img/products/past.webp" alt="Billede af diverse kombucha smag."
          buttontxt="PAST"/>
      </div>
        <ul class="productlist">
          {data
          .sort((a, b) => a.id - b.id)
          .map((product) => {
            if (product.category === 'past') {
              return (
                <article class="time">
                  <a href={`/products/${product.slug}`}>
                    <h2>{product.product_name}</h2>
                  </a>
                  <p>{product.beskrivelse}</p>
                </article>
              );
            } else {
              return null;
            }
          })}
        </ul>
      </section>

      <section class="products present_products">
          <div>
        <Tiden
          h2="The present"
          p="What's in the moment?"
          billede="/img/products/present.webp" alt="Billede af diverse kombucha smag."
          buttontxt="PRESENT"/>
      </div>
        <ul class="productlist">
          {data
          .sort((a, b) => a.id - b.id)
          .map((product) => {
            if (product.category === 'present') {
              return (
                <article class="time">
                 <a href={`/products/${product.slug}`}>
                  <h2>{product.product_name}</h2>
                  </a>
                  <p>{product.beskrivelse}</p>
                  <img src={product.img} alt={product.beskrivelse} />
                </article>
              );
            } else {
              return null;
            }
          })}
        </ul>
      </section>

      <section class="products future_products">
         <div>
        <Tiden
        h2="The future"
        p="What comes next?"
        billede="/img/products/future.webp" alt="Billede af diverse kombucha smag."
        buttontxt="FUTURE"/>   
      </div>
        <ul class="productlist">
          {data
          .sort((a, b) => a.id - b.id)
          .map((product) => {
            if (product.category === 'future') {
              return (
                <article class="time">
                  <a href={`/products/${product.slug}`}>
                  <h2>{product.product_name}</h2>
                  </a>
                  <p>{product.beskrivelse}</p>
                </article>
              );
            } else {
              return null;
            }
          })}
        </ul>
      </section>
    </div>

    <div class="arrow bounce"></div>
</MainLayout>

<style>
  /* foreløbig */
img {
  width: 100%;
  height: auto;
  display: block;
}

   h1 {
        text-transform: uppercase;
        color: var(--red);
        font-family: var(--h1-font);
        text-align: center;
        margin: 48px 0 40px 0;
        font-size: 40px;
    }
  .container {
        /* position: relative; */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* align-items: center;
        gap: 1.5rem;
         margin-bottom: 48px; */
    }

    .products_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 34px;
    }
.productlist {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}


.productlist.active {
  display: block;
  padding: 0;
  margin: 32px auto;
  max-width: 65ch;
  /* baggrunden */
  background-image: url(/img/products/tealeaf.svg), url(/img/products/flowerleft.svg), url(/img/products/flowerright.svg);
  background-repeat: no-repeat;
  background-position: left top, center center, bottom center;
  background-size: 50%, 100%, 80%;
}

.time {
  /* margin: 48px 1rem; */
  border-bottom: 1px solid var(--yellow600);
  margin: 2rem; /* Tilføj lidt plads mellem hver time */
}

.time a {
  text-decoration: none;
  color: inherit;
}
/* visited link */
.time a:visited {
  color:none;
}

/* mouse over link */
.time a:hover {
  color: var(--yellow600);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: none;
}

.time h2 {
  margin: 0 0 8px 0;
  font-size: 24px;
  font-family: var(--h2-font);
  text-transform: uppercase;
  font-style: italic;
}

.time p {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: var(--h2-font);
}

.time img {
  margin-top: 8px;
  margin-bottom: 48px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

article.time {
    margin-bottom: 1rem;
}

/* Juster tekstjusteringen til højre for hver anden .time artikel */
article.time:nth-of-type(2n) {
  text-align: right;
  color: var(--red);
}

.animated.moveUp {
   opacity: 0;
    transform: translateY(40px);
    animation-name: moveUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveUp {
  0% {
     opacity: 0;
    transform: translateY(40px);
  }
  100% {
     opacity: 1;
    transform: translateY(0);
  }
}

  /* arrow bounce styles */
.arrow.active {
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
  width: 60px;
  height: 60px;
  background-image: url(/img/products/arrowdown.svg);
  background-size: contain;
  z-index: 10;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (min-width: 800px) {
h1 {
        margin: 4rem 0 2rem 0;
        font-size: 3.75rem;
    }
    .products_container {
    flex-direction: row;
    align-items: flex-start;
    margin-inline: 2rem;
  }
  .productlist.active {
    background-position: left top, center center, right bottom;
  background-size: 30%, 90%, 60%;
  margin-top: 4rem;
  padding: 2rem 2rem;
  }
.past_products .productlist.active {
left: 156%;
right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	width: 99vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.present_products .productlist.active {
left: 51%;
right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	width: 99vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

.future_products .productlist.active {
left: -55%;
right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	width: 99vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.products {
margin-bottom: 6rem;
  flex: 1;
}
.time {
  margin: 4rem 0 1rem 0;
  flex-basis: calc(33.33% - 4rem); /* Beregn bredden på hver time */
}
.time h2 {
  margin: 0 0 1rem 0;
}
.time p {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.time img {
  margin-top: 2rem;
  height: auto;
  width: 70%;
}
article.time:nth-of-type(2n) {
  text-align: left;
}
}
</style>

<script>
// animation moveup
document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animated', 'moveUp');
                observer.unobserve(entry.target);  // Stop observing once animated
            }
        });
    }, {
        threshold: 0.1  // Trigger when 10% of the element is visible
    });

    const items = document.querySelectorAll('.productlist');
    items.forEach(item => {
        observer.observe(item);
    });
});
</script>